a{
    color: black;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Manrope';
}
.important{
    color: #A5B4FC;
}
h1{
    font-family: 'Montserrat';
    color: #A5B4FC;
    font-size: 3.5em;
}
p{
    font-family: 'Manrope';
    color: 1.1em;
}
ul{
    font-family: 'Manrope';
    font-size: 1.1em;
}
.header{
    background-color: white;
}
.footer{
    background-color: white;
}
body{
    background-color: #1F2039;
}
.header a, .footer a {
    color: #242424;
}
body h2,p,ul{
    color: #F9F8FF;
}
.autre_lien{
    background:linear-gradient(#8E86B5, #ACAEED);
    font-family: 'Montserrat';
    color: white;
    border-radius: 50px;
    margin: 20px;
}

.presentation{
    margin: auto;
    border-right: 1px #A5B4FC;
    border-bottom: 1px #A5B4FC;
    padding: 50px;
}
a:hover{
    text-decoration: underline;
}
a[class="autre_lien"]{
    background: linear-gradient(#696484,#8788BA);
}
a[class="autre_lien"]:hover{
    text-decoration: none;
}
.icone:hover{
    opacity: 0.5;
}
*{
    margin: 0;
}
header, footer{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
main{
    margin: 0;
    padding-top: 80px;
    padding-bottom: 80px;
}
.main_apropos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lien_portfolio{
    margin: auto;
}
.presentation h2{
    margin-top: 15px;
    margin-bottom: 8px;
} 
.container{
    display: flex;
    justify-content: space-between;
}
.contenu-accueil{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 50px;
    
}
.introduction{
    flex-wrap: wrap;
    width: 50%;
}
.profile{
    justify-content: flex-end;
}
.introduction h1{
    text-rendering: auto;
}
.projet{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
.projet .album{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 50px;
}
.projet h2{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    color: black; 
}
.container-portfolio1{
    margin: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 300px 300px 300px;
    gap: 15px;
    margin-bottom: 50px;
}
.container-portfolio1 img{
    width: 100%;
    height: 300px;
}
.container-portfolio2{
    margin: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 300px 300px;
    gap: 15px;

}
.container-portfolio2 img{
    width: 100%;
    height: 300px;
}
.portfolio-section-photos h2{
    padding: 20px;
}
.autre_lien{
    display: inline-block;
    padding: 10px;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.paysage-photo{
    position: relative;
    display: block;
}
.photo-survol{
    position: absolute;
    display: inline;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0, 0, 0.7);
    display: none;
}
.paysage-photo:hover .photo-survol{
    display: flex;
    color: white;
}
.tarif-table td,.tarif-table th{
    border: 1px solid white;
    padding: 10px;
}
.tarif-table td{
    padding: 50px;
}
.tarif-table{
    color: white;
    margin: auto;
    border-collapse: collapse;
}
.tarif-table caption{
    padding: 15px;
    padding-bottom: 50px;
    font-size: 1.8em;
}
.contact-form{
    flex-wrap: wrap;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    border: none;
    font-size: 1.2em;
    row-gap: 50px;

}
.form-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact-form legend{
    margin: auto;
    color: #A5B4FC;
    padding: 100px;
    font-size: 1.8em;
}
.form-1 input{
    height: 40px;
    border-radius: 5px;
    border: none;
}
.form-2 textarea{
    width: 100%;
    border-radius: 5px;
    border: none;
}
.form-3 input{
    display: block;
    margin: auto;
    font-size: 0.8em;
    padding: 12px;
    width: 15%;
    border-radius: 20px;
    background:linear-gradient(#8E86B5, #ACAEED);
    border: none;
    color: white;
}
.contact-form fieldset{
    border: none;
}
@media screen and (max-width: 996px){
    body{
        justify-content: center;
    }
    .header{
        max-width: 1000px;
    }
    h1{
        font-size: 2em;
        margin: auto;
    }
    h2{
        font-size: 1.8em;
        margin: auto;
    }
    .tarif-table{
        display: none;
    }
    .contenu-accueil{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: stretch;
    }
    .projet{
        flex-direction: column;
    }
    .form-1{
        flex-direction: column;
        max-width: 1000px;
    }
    .form-2{
        flex-direction: column;
        max-width: 1000px;
    }
    .container-portfolio1{
        display: grid;
        grid-template-columns: 30% 30%;
        grid-template-rows: 300px 300px 300px 300px;
        gap: 15px;
    }
    .container-portfolio2{
        display: grid;
        grid-template-columns: 30% 30%;
        grid-template-rows: 300px 300px 300px;
        grid-row-end: auto;
        gap: 15px;
    }
    main{
        padding-left: 20px;
        padding-right: 20px;
        justify-content: center;
    }
    .container{
        flex-direction: column;
    }
    .introduction{
        margin: auto;
    }
    .footer{
        max-width: 1000px;
    }
    .autre_lien{
        font-size: 1.0em;
    }
   .album{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
   }
}
